body {
    background-color: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

button {
    background-color: #30292F;
    color: #fcfcfc;
    font-size: 20px;
    width: 8rem;
    height: 4rem;
}