body {
    overflow: hidden;
    margin: 0;
    background-image: url("https://images.pexels.com/photos/417083/pexels-photo-417083.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 400px;
    background-color: transparent;
    border: 400px solid rgba(0, 0, 0, 0.5);
}

.left {
    color: white;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translate(0, -50%);
    padding: 20px;
    border: solid 2px orange;
}

.right {
    color: white;
    position: absolute;
    top: 50%;
    right: 20.5%;
    transform: translate(0, -50%);
    padding: 20px;
    border: solid 2px orange;
}