*{
    margin: 0;
    padding: 0;
}

body {
    background-color: purple;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    gap: 0;
}

.search {
    padding: 20px;
    font-size: 20px;
    background-color: white;
    border: 0px;
}

input {
    padding: 0;
    width: 0;
    transition: 0.5s;
}

.display {
    padding: 20px;
    font-size: 20px;
    width: 15rem;
}